<!DOCTYPE html>
<html>
<head>
	<style>
		<!-- body {background-color:lightgray} -->
		<!-- h1   {color:blue} -->
		<!-- p    {color:green} -->
		h1 {
		    position: fixed;
		    top:  80px;
		    left: 68px;
		}
		h2 {
		    position: fixed;
		    top:  285px;
		    left: 68px;
		}
		h3 {
		    position: fixed;
		    top:  189px;
		    left: 540px;
		}
	</style>
</head>
<body background="lockerdome_screenshot_11in.png">
<h1>
	<form action="demo_form.asp">
	  <input type="text" name="aName" value="Article title">	  
	</form>
</h1>
<h2>
	<textarea rows="21" cols="96">		
	</textarea>
</h2>
<h3>
	<form action="demo_form.asp">
	  <input type="file" name="pic" accept="image/*">	  
	</form>
</h3>
</body>
</html>