<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://cdn2.lockerdome.com/css/css/styles-blessed1.1433441774000.css">
	<link rel="stylesheet" href="http://cdn2.lockerdome.com/css/css/styles.1433441774000.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="ev_source" class="fh">
	<div id="main">
	<div class="fh">
	<div class="fh logged-in">
	<div class="fh">
	<div class="fh content-page _page_content">
	<div id="page-container" class="sc" tabindex="-1" style="position:absolute;">
	<div>
	<div class="content-bg cf">
		<div class="main-column-container">
			<section class="main-column ci">
				<div class="toolbar-wrapper over">
					<div class="actions-container share-enabled">
						<div class="button-row">
							<div>
								<div class="like-bttn std-bttn wht-bttn" title="Interesting">
									<span class="icon-upvote inline-icon" aria-hidden="true"></span>
									<span class="bttn-txt">Interesting</span>
								</div>
							</div>
							<div>
								<div class="dislike-bttn std-bttn wht-bttn" title="Not Interesting">
									<span class="icon-downvote inline-icon" aria-hidden="true"></span>
									<span class="bttn-txt">Not Interesting</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<article class="external_link">
					<div class="top">
						<div>
							<div class="og-cntnr">
								<h1 class="title top-title" itemprop="name">Historic Photos Of Street Life In London 1876-1877</h1>
								<div class="header-image">
									<div class="image-container">
										<img src="https://cdn1.lockerdome.com/uploads/571d48ea4dc8523d5d6ac07066f06ebf9fbd37c43d6dc96db4efdfff53b5cc90_large">
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>

				<div class="bottom">
					
					<div class="container col-md-12 prev-post">	
						<div class="info cf container col-md-1 col-md-offset-1">
							<div class="post-time">1h</div>
						</div>
						<div class="container col-md-10">
							<h2 class="title" itemprop="name">Historic Photos Of Street Life In London 1876-1877</h2>
						</div>
					</div>
					<div class="container col-md-12 prev-post">	
						<div class="info cf container col-md-1 col-md-offset-1">
							<div class="post-time">1h</div>
						</div>
						<div class="container col-md-10">
							<h2 class="title" itemprop="name">Historic Photos Of Street Life In London 1876-1877</h2>
						</div>
					</div>
					<div class="container col-md-12 prev-post">	
						<div class="info cf container col-md-1 col-md-offset-1">
							<div class="post-time">1h</div>
						</div>
						<div class="container col-md-10">
							<h2 class="title" itemprop="name">Historic Photos Of Street Life In London 1876-1877</h2>
						</div>
					</div>
				</div>

			
				<div>
					<button class="btn btn-default btn-lg col-md-4 col-md-offset-4 more-btn" type="submit">More</button>
				</div>


				<div class="toolbar-wrapper under">
					<div class="actions-container share-enabled">
						<div class="button-row">
							<div>
								<div class="like-bttn std-bttn wht-bttn" title="Interesting">
									<span class="icon-upvote inline-icon" aria-hidden="true"></span>
									<span class="bttn-txt">Interesting</span>
								</div>
							</div>
							<div>
								<div class="dislike-bttn std-bttn wht-bttn" title="Not Interesting">
									<span class="icon-downvote inline-icon" aria-hidden="true"></span>
									<span class="bttn-txt">Not Interesting</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="choose-social under">
					<div class="std-bttn tw-share right">
						<span class="icon-twitter"></span>
						<span class="share-text">Tweet</span>
					</div>
					<div class="std-bttn fb-share left">
						<span class="icon-facebook2"></span>
						<span class="share-text">Share</span>
					</div>
				</div>

				<section class="comments-activity">
					<div class="comments-header">
						<a class="comment-anchor" name="comments-activity"></a>
					</div>
					<div class="new-comment">
						<div class="c-new-cntnr content-owner">
							<div>
								<a class="avt-cntnr large-avt"></a>
							</div>
							<div class="t-editable fo-cntnr">
								<div class="editable-cntnr">
								<div class="placeholder">Comment</div>
								<div class="c-ta _textarea needsclick editing editable needsclick" contenteditable="true"></div>
								</div>
							</div>
							<div class="search-results user-list fo-i _search-results"></div>
						</div>
						<div class="_add-embed add-content-bttn icon-bttn" title="Add Content">
							<div class="icon-add2 icon-font"></div>
						</div>
						<div class="save-bttn blu-bttn std-bttn no-resize-bttn needsclick disabled">Post</div>
						<div>
							<form action="" class="image-upload-form" enctype="multipart/form-data" method="post">
								<input type="hidden" name="template_name" value="content">
								<input type="file" class="invisible" id="file1" name="files">
								<input type="submit" class="invisible _submit-form" value="Upload">
								<div class="_upload-result"></div>
							</form>
							<div></div>
						</div>
					</div>
				</section>
			</section>
		</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
</body>
</html>