.prev-post {
	border-top: 1px solid gray;
	padding: 15px;
	background-color: #eee;
}

.prev-post:last-child {
	border-bottom: 1px solid gray;
}

.prev-post:hover {
	background-color: #FAFAFA;
	cursor: pointer;
}

.bottom a:hover {
	background-color: gray;
}

.more-btn {
	margin-top: 25px;
	margin-bottom: 25px;
}